<div class="tableui">
	<h3 class="ilHeader ilTableHeaderTitle">{TITLE}</h3>
	<div>{PAGES_SELECTOR}</div>
	<div>{ROWS_SELECTOR}</div>
	<span class="ilTableFootLight">{COUNT}</span>
	<table class="table table-striped fullwidth" id="{ID}">
		<thead>
		<tr>
			<!-- BEGIN header -->
			<th>{HEADER}</th>
			<!-- END header -->
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN body -->
		<tr>{ROW}</tr>
		<!-- END body -->
		</tbody>
		<tfoot>
		<tr>
			<!-- BEGIN footer -->
			<th>{FOOTER}</th>
			<!-- END footer -->
		</tr>
		</tfoot>
	</table>
	<span class="ilTableFootLight">{COUNT}</span>
</div>