<div class="tableui">
	<h3 class="ilHeader ilTableHeaderTitle">{TITLE}</h3><br>
	<div class="hidden-print">{FILTER_FORM_TOP}</div>
	<div class="hidden-print">{ACTIONS}</div>
	<span class="ilTableFootLight">{COUNT}</span>
	<table class="table table-striped fullwidth" id="{ID}">
		<thead>
		<tr>
			<!-- BEGIN header -->
			<th>{HEADER}</th>
			<!-- END header -->
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN body -->
		<tr>{ROW}</tr>
		<!-- END body -->
		</tbody>
		<tfoot>
		<tr>
			<!-- BEGIN footer -->
			<th>{FOOTER}</th>
			<!-- END footer -->
		</tr>
		</tfoot>
	</table>
	<span class="ilTableFootLight">{COUNT}</span>
	<div class="hidden-print">{FILTER_FORM_BOTTOM}</div>
</div>